<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionAlumnos.Properties.Settings.GestionAlumnosConnectionString"
            connectionString="Data Source=DESKTOP-Q7059O3\VSGESTION;Initial Catalog=GestionAlumnos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionAlumnos.Properties.Settings.GestionAlumnosConnectionString1"
            connectionString="Data Source=LAPTOP-JF0822Q8\VSGESTION;Initial Catalog=GestionAlumnos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>